.activeLink
{
    color: rgb(255, 157, 0)!important;
}
.hover-orange:hover{
    color: rgb(255, 157, 0)!important;
}
body {
  background-image: linear-gradient(45deg, #437ba8, #002633); /* Gradiente de azul oscuro a azul marino */
}
