<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Rubén Medina Domínguez</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Articulos" routerLinkActive="activeLink">Artículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Blog" routerLinkActive="activeLink">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Formulario" routerLinkActive="activeLink">Formulario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class=" vh-100">
  <router-outlet></router-outlet>
</div>

