body
{
  background: linear-gradient(45deg, #437ba8, #002633);
}
/* Estilo para el footer */
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

/* Estilo para el nombre */
.footer .nombre {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para el correo y número de teléfono */
.footer .contacto {
  font-size: 14px;
}

/* Estilo para el enlace de correo */
.footer .contacto a {
  color: #007bff;
  text-decoration: none;
}

/* Estilo para el número de teléfono */
.footer .contacto .telefono {
  margin-left: 5px;
}
