
  <br>  <br>  <br>  <br>  <br>
<div class="container">
  <h1 class="header">Mis Habilidades</h1>
</div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 840px;">
        <div class="card-body">
          <img src="../../assets/git.jpg" class="d-block mx-auto w-90" width="95%" height="420" alt="git">
          <br>
          <h5 class="card-title">Tecnología Git</h5>
          <p class="card-text">El sistema de control de versiones mas importante</p>
          <a routerLink="/Articulo1" class="btn btn-primary ">Ir al artículo</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 840px;">
        <div class="card-body">
          <img src="../../assets/angular.jpg" class="d-block mx-auto w-90" width="95%" height="420" alt="angular">
          <br>
          <h5 class="card-title">Tecnología Angular</h5>
          <p class="card-text">El framework de código abierto mas importante</p>
          <a routerLink="/Articulo2" class="btn btn-primary">Ir al artículo</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>

